@charset "UTF-8";

* {
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #50514F, #CBD4C2)
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #3b3b3ac2;
}

h1 {
    color: #247ba0;
    text-align: center;
    text-shadow: 1px 1px 2px #1c617ebd;

}

h2 {
    color: #c3b299
}

p {
    text-align: justify;
}